{% extends "layout.html" %}

{% set active_page = "colors" %}

{% block title %}Colors{% endblock %}

{% block content %}
    <h1>Convert the Colors of the Rainbow from English to Spanish</h1>
<form action="/response">
  <input type="radio" name="color" value="red" checked> Red<br>
  <input type="radio" name="color" value="orange"> Orange<br>
  <input type="radio" name="color" value="yellow"> Yellow<br>
  <input type="radio" name="color" value="green"> Green<br>
  <input type="radio" name="color" value="blue"> Blue<br>
  <input type="radio" name="color" value="purple"> Purple
  <input type="submit" value="Convert">
  <input type="reset" value="Reset">
</form>
{% endblock %}
